.DS_Store
FE/node_modules
/dist
FE/package-lock.json

# local env files
.env.local
.env.*.local

# Log files
FE/npm-debug.log*
FE/yarn-debug.log*
FE/yarn-error.log*
FE/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.class
BE/custom/mealecule/mealeculestorefront/web/addonsrc/*
BE/custom/mealeculecommercewebservices/mealeculecommercewebservices/web/addonsrc/*
