.product-image img {
    max-width: 100%;
}

.product-detail {
  margin:  24px;
}
.mq {
  max-width: 150px;
  margin-left: auto;
}
.product-features {
  margin:  0;
  padding:  0;
  list-style: none;
  display: grid;
  grid-gap:  0 24px;
  grid-template-columns: auto auto;
  width: 100%;
}
.product-features li {
  padding: 10px;
  display: flex;
  gap:  10px;
  justify-content: space-between;
  margin: 0;
  box-shadow: 0 1px 1px  #ccc;
}
.statistic .weight{
  font-size: .7rem;
  text-transform:lowercase;
}
.bCoins {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.ui.segment.cta-box {
  position: fixed;
  top:  84px;
}
.cta-box .checkbox {
  width: 100%;
}
.mqTable{
  text-transform: capitalize;
}
.addtocart{
  margin-top: 15px;
}
.discounted.price{
  color: var(--red);
  font-size:  1.1em;
}
.mrp-label {
  display: inline-block;
  margin-right:  5px;
  font-size:  .8em;
  color: var(--lightgrey);
}

.price-segment {
  margin-top: 24px;
}
@media screen and (max-width:  800px){
  .ui.container {
    margin-bottom: 64px;
  }
  .ui.segment.cta-box {
    bottom: 48px;
    height: fit-content;
    
    left: 0;
    top: unset;
    width: 100%;
    z-index: 5;
  }
  .price-segment{
    margin-top:  0;
  }
  .ui.grid.product{
    display: grid;
    grid-gap:  24px;
  }
   .ui.grid>[class*="wide"].column{
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
   }
}